/* FOR MENU ICON */
#adminmenu #toplevel_page_obfrwc_page_settings .wp-menu-image img{
    padding: 6px 0 0 0 !important;
    height: 22px !important;
}

#obfrwc_H1{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}